*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Je mets en place les polices de tout le site */

@font-face {
    font-family: "Pacifico";
    src: url(./fonts/Pacifico-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "Urbanist-bold";
    src: url(./fonts/Urbanist-Bold.woff2) format(woff2);
}

@font-face {
    font-family: "Urbanist-semi-bold";
    src: url(./fonts/Urbanist-SemiBold.woff2) format(woff2);
}

@font-face {
    font-family: "Urbanist-medium";
    src: url(./fonts/Urbanist-Medium.woff2) format(woff2);
}

@font-face {
    font-family: "Urbanist-regular";
    src: url(./fonts/Urbanist-Regular.woff2) format(woff2);
}

@font-face {
    font-family: "Urbanist-thin";
    src: url(./fonts/Urbanist-Thin.woff2) format(woff2);
}

/* Je déclare mes variables  */

:root {
    --red: #C11430;
    --blue: #2E3E84;
    --burgundy: #782241;
    --brown:#9D9183;
    --white: #F5F5F5;
    --black: #0E0E0E;
}

.red{
    color:var(--red);
}


body{
    font-family:"Urbanist-medium", sans-serif;
    letter-spacing: 1px;
    margin:0;
}

/*Je défini quelques classes basiques pour faciler le css*/

.pacifico{
    font-family: "Pacifico", sans-serif;
    font-weight:400;
}

.right{
    text-align:right;
}

.center-flex{
    display:flex;
    justify-content:center;
    align-items:center;
}


.btn-contact{
    text-decoration:none;
    padding:10px 20px;
    border-radius:25px;
    font-size:1.1rem;
    transition:0.2s padding ease-in-out;
}
.btn-contact.white{
    background-color: var(--white);
    color:var(--black)
}

.btn-contact.black{
    background-color: var(--black);
    color:var(--white);
}

.btn-contact:hover{
    padding: 10px 30px;
}

@media(min-width:900px){

    body{
        font-size:1.3rem;
    }
}